#leav-nav-space {
	margin: 20px;
}

.change-border {
	border: 1px solid rgba(255,255,255,.15)
}

#remove-border {
	border: none;
}

#article-list {
	display: block;
}

.btn-separator:after { 
	content: ' '; display: block; float: left; background: #ADADAD;
	margin: 0 10px; height: 34px; width: 1px;
}
