{% load static from staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  	<head>
    	<!-- Required meta tags always come first -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta http-equiv="x-ua-compatible" content="ie=edge">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
        
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/custom.style.css' %}">
    </head>
    <body>
        <!-- <section> -->
        <div id="leav-nav-space"></div>
        <div class="container">
  			<div class="row">
    			<div class="col-md-2">
					<div class="card pull-xs-left">
						<ul class="list-group list-group-flush">
						    <li class="list-group-item change-border">
						    	<img class="w-50" src="{% static 'images/img.jpeg'%}" alt="" width="100px" height="70px">
						    </li>
						    <hr>
						    <li class="list-group-item change-border">
						        <a class="#" style="display: inline-block;">
						        	<i class="fa fa-bars" style="font-size:22px;color:blue;"></i>
						        </a>
						        <a style="border-right: 1px solid; margin-left: 20px; margin-right: 20px; font-size:22px;"> </a>
						        <a href="#">
								    <img width="30px" height="30px" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698838-icon-111-search-128.png">
								</a>
						    </li>
						    <hr>
						    <li class="list-group-item change-border">
						    	<img class="w-50" src="{% static 'images/img.jpeg'%}" alt="" width="100px" height="70px"><br>
						    	<center><a href="">Nav1</a></center>
						    </li>
						    <li class="list-group-item" id="remove-border">
						    	<img class="w-25" src="{% static 'images/img.jpeg'%}" alt="" width="100px" height="70px"><br>
						    	<center><a href="">Nav2</a></center>
						    </li>
						    <li class="list-group-item" id="remove-border">
						    	<img class="w-25" src="{% static 'images/img.jpeg'%}" alt="" width="100px" height="70px"><br>
						    	<center><a href="">Nav3</a></center>
						    </li>
						    <li class="list-group-item" id="remove-border">
						    	<img class="w-25" src="{% static 'images/img.jpeg'%}" alt="" width="100px" height="70px"><br>
						    	<center><a href="">Nav4</a></center>
						    </li>
						</ul>
					</div>
				</div>

		        <!-- </section> -->
		        <div class="col-md-9">
		            {% block random_articles %} {% endblock %} 
		        	{% block content %} {% endblock %}
		        	{% block footer %}{% endblock %}
		        </div>
		    </div>
		</div>
		
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
    </body>
    </body>
</html>